{% extends 'base' %}

{% block navBarRole%}
    <div class="navbar-brand" >
        Pharmacist
    </div>
{% endblock %}

{% block navSideBarList%}
    <li>
        {{ linkToAction('StockController.showPharmacistStock', '<i class="fa fa-fw fa-file"></i> Stock') }} 
    </li>
    <li>
        {{ linkToAction('StockController.index', '<i class="fa fa-fw fa-leaf"></i> Ingredient') }} 
    </li>
    <li class="active">
        {{ linkToAction('MedicineController.newMedicine', '<i class="fa fa-fw fa-medkit"></i> Pending Medicine') }} 
    </li>
    <li >
        {{ linkToAction('MedicineController.index', '<i class="fa fa-fw fa-table"></i> Medicine Report') }} 
    </li>
{% endblock %}

{% block content %}
    <div class = "col-lg-12">
        {% if successMessage %}
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>
                <strong>Success!</strong> {{successMessage}}.
            </div>
        {% endif %}

        {% if old('errors') %}
            <div class="alert alert-danger alert-dismissable">
                {% for error in old('errors') %}
                    <a href="#" class="close" data-dismiss="alert" aria-label="Close">&times;</a>
                    <li> {{ error.message }} </li>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="col-lg-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Create Medicine</h3>
            </div>

            <div class="panel-body">                                   
                 {{ form.open({action: 'MedicineController.store'}) }}

                    {{csrfField}}

                    <div class = "col-lg-12">
                        <div class="form-group ">
                            {{form.label('name','Pharmacist') }}
                            <div>
                                <div>
                                    <select name="user_id" class="form-control">
                                        {% for user in users %}
                                            <option value={{ user.id }}>{{ user.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div> 
                        <div class="form-group ">
                            {{form.label('name','Medicine Name') }}
                            <div>
                                {{ form.text('name','',{ class: 'form-control'})}}
                            </div>
                        </div> 

                        {{ form.submit('Create','submit', { class: 'btn btn-success', style: 'margin-top: 20px'}) }}

                    </div>    

                {{ form.close() }}  

            </div>

        </div>

    </div>

{% endblock %}