{% extends 'base' %}

{% block navBarRole%}
    <div class="navbar-brand" >
        Pharmacist
    </div>
{% endblock %}

{% block navSideBarList%}
    <li>
        {{ linkToAction('StockController.showPharmacistStock', '<i class="fa fa-fw fa-file"></i> Stock') }} 
    </li>
    <li>
        {{ linkToAction('IngredientController.index', '<i class="fa fa-fw fa-leaf"></i> Ingredient') }} 
    </li>
    <li class="active">
        {{ linkToAction('MedicineController.newMedicine', '<i class="fa fa-fw fa-medkit"></i> Pending Medicine') }} 
    </li>
    <li >
        {{ linkToAction('MedicineController.index', '<i class="fa fa-fw fa-table"></i> Medicine Report') }} 
    </li>
{% endblock %}


{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Medicine Report</h3>
            </div>

            <div class="panel-body">                                   
                 <div class="col-lg-12">
                    {{ form.open({action: 'MedicineController.create'}) }}
                        {{ form.button('Create','', { class: 'btn btn-success', style: 'margin-bottom: 20px'}) }}
                    {{ form.close() }}

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Price</th>
                                    <th>Add Ingredient</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for medicine in medicines %}
                                    <tr>
                                        <td>{{medicine.id}}</td>
                                        <td>{{medicine.name}}</td>
                                        <td>{{medicine.price}}</td>

                                        <td><a href="medicine/{{medicine.id}}/ingredient">Add Ingredient</a></td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>                          
            </div>

        </div>

    </div>
{% endblock %}