{% extends 'base' %}

{% block navBarRole%}
    <div class="navbar-brand" >
        Pharmacist
    </div>
{% endblock %}

{% block navSideBarList%}
    <li class="active">
        {{ linkToAction('StockController.index', '<i class="fa fa-fw fa-leaf"></i> Ingredient') }} 
    </li>
    <li>
        {{ linkToAction('RoleController.index', '<i class="fa fa-fw fa-medkit"></i> Sales Report') }} 
    </li>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Ingredient Data</h3>
            </div>

            <div class="panel-body">                                   
                 <div class="col-lg-12">

                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Stock Id</th>
                                    <th>Amount (mg)</th>
                                    <th>Price (Rp/mg)</th>
                                    <th>Medicine Id</th>
                                    <th>View</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for ingredient in ingredients %}
                                    <tr>
                                        <td>{{ingredient.id}}</td>
                                        <td>{{ingredient.stock_id}}</td>
                                        <td>{{ingredient.amount}}</td>
                                        <td>{{ingredient.price}}</td>
                                        <td>{{ingredient.medicine_id}}</td>
                                        <td><a href="stock/{{ingredient.id}}">View</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>                          
            </div>

        </div>

    </div>
{% endblock %}