{% extends 'base' %}

{% block navBarRole%}
    <div class="navbar-brand" >
        Pharmacist
    </div>
{% endblock %}

{% block navSideBarList%}
    <li>
        {{ linkToAction('StockController.showPharmacistStock', '<i class="fa fa-fw fa-file"></i> Stock') }} 
    </li>
    <li  class="active">
        {{ linkToAction('IngredientController.index', '<i class="fa fa-fw fa-leaf"></i> Ingredient') }} 
    </li>
    <li>
        {{ linkToAction('MedicineController.newMedicine', '<i class="fa fa-fw fa-medkit"></i> Pending Medicine') }} 
    </li>
    <li >
        {{ linkToAction('MedicineController.index', '<i class="fa fa-fw fa-table"></i> Medicine Report') }} 
    </li>
{% endblock %}


{% block content %}
    <div class="col-lg-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Ingredient Data</h3>
            </div>

            <div class="panel-body">                                   
                 <div class="col-lg-12">

                    <div class="form-horizontal">
                         <div class="form-group">
                            <label class="col-sm-2 control-label">Ingredient ID</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ingredient[0].id}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ingredient[0].stock.name}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Amount</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ingredient[0].amount}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Price</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ingredient[0].price}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Created Date</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ingredient[0].created_at}}</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-sm-2 control-label">Used in Medicine</label>
                            <div class="col-sm-10">
                                <p class="form-control-static">{{ingredient[0].medicine.name}}</p>
                            </div>
                        </div>
                    </div>
                    
                </div>      
            </div>

        </div>

        {{ form.open({ actions: 'IngredientController.destroy', params:{ id:ingredient[0].id } }) }}
            {{csrfField}}
            {{ form.button('Delete','', { class: 'btn btn-danger '}) }} 
        {{ form.close() }}

    </div>

{% endblock %}